body {
    background-color: rosybrown;
    display: grid;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

li {
    background-color: white;
    font-size: xx-large;
    list-style: none;
    border: thin solid white;
    width: 20vw;
    text-align: center;
}

li:hover {
    background-color: #f9d7fb;
}